<!-- <div id='skrollr-body'> for mobile -->
<div class="main-cause-holder">
	<div class="row main-cause-blocks" id="dv-block1"
	 		data-top="background-position: 0px 0px"
      data-bottom-top="background-position: 0px 200px">
		<div class="block1-content"
			data-anchor-target="#dv-block1"
			data-top="opacity: 1; left: 0px;"
			data--300-top="opacity: 0; left: 20px;">
			<div class="eluci-info-holder col-xs-5"> 
				<span class="maincause-sub-header">What is Eluci?</span>
				<div class="maincause-sub-header-underline"></div>
				<p class="maincause-header">
					Eluci is a non-profit initiative that aims to transform the way people think about the clothes they purchase and wear. We are using compelling design on apparel, to raise awareness and funding for causes that need more attention.
				</p>
				<span class="maincause-sub-header">The only non-profit apparel company</span>
				<div class="maincause-sub-header-underline"></div>
				<p class="maincause-header">
					Eluci is a non-profit initiative that aims to transform the way people think about the clothes they purchase and wear. We are using compelling design on apparel, to raise awareness and funding for causes that need more attention.
				</p>
			</div>
			<div class="join-form col-xs-6 col-xs-offset-1"> 
				<h3 id="join-form-title"> Join our team! </h3>
				<%= form_for @lead, url: { action: 'create', controller: "leads" }, html: { class: "form-horizontal", role: 'form' } do |f| %>
					 <% if flash[:success] %>
				  	 <div class="alert alert-success">
				  	 	<%= flash[:success] %>
					   </div>
				  <% end %>

					<% if flash[:error] %>
					  <div id="error_explanation">
					  	There were some errors: 
					    <% flash[:error].each do |msg| %>
					      <span class='error-bullet'>•</span> <%= msg %>
					    <% end %>
					  </div>
					<% end %>

					<div class="form-group">
						<%= label_tag(:first_name, "Name:", class: 'col-xs-2 control-label') %>
						<div class='col-xs-5'>
							<%= f.text_field :first_name, placeholder: 'First', class: 'form-control input-group-sm' %>
						</div>
						<div class='col-xs-5'>
							<%= f.text_field :last_name, placeholder: 'Last', class: 'form-control col-sm-5' %>
						</div>
					</div>
					<div class="form-group">
						<%= label_tag(:email, "Email:", class: 'col-xs-2 control-label') %>
						<div class='col-xs-10'>
							<%= f.text_field :email, class: 'form-control' %>
						</div>
					</div>
					<div class="form-group">
						<%= label_tag(:phone, "Phone:", class: 'col-xs-2 control-label') %>
						<div class='col-xs-10'>
							<%= f.text_field :phone, class: 'form-control' %>
						</div>
					</div>
					<div class="form-group">
							<%= label_tag(:lead, "Role:", class: 'col-xs-2 control-label') %>
						<div class='col-xs-10'>
							 <select class="form-control" name="lead[focus]">
								  <option value="Graphic Designer" selected="selected">Graphic Designer</option>
								  <option value="Video Producer">Video Producer</option>
								  <option value="Photographer">Photographer</option>
								  <option value="Marketer">Marketer</option>
								  <option value="Writer">Writer</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<%= label_tag(:lead, "Comments:", class: 'col-xs-3 control-label') %>
							<div class='col-xs-9'>
								<%= f.text_area :notes, class: 'form-control ', rows:"3" %></br>
							</div>
					</div>
					<div class="form-group">
						 <div class="col-xs-offset-2 col-xs-10">
								<%= f.submit "Go!", class: 'btn btn-default col-xs-12' %>
							</div>
					</div>
				<% end %>

			</div>
		</div>
	</div>

	<div class="main-cause-blocks" id="dv-block2"
		data-bottom-top="top: 0px;"
		data-top="opacity: 1; top: -80px;"
		data-top-bottom="opacity: 0; top: -100px;">
		<h1 class="main-cause-headers-of-blocks-small"
			data-anchor-target="#dv-block2"
			data-bottom-top="opacity: 0.25; top: 0px"
			data-center-top="opacity: 1; top: 15px;">The Team</h1>
		<div class="row whatis-desc-holder">
			<div class="dv-whatis-desc col-xs-3"
				data-anchor-target="#dv-block2"
				data-bottom-top="opacity: 0; left: 0px;"
				data-center-top="opacity: 1; left: 20px;">
				<div class="col-xs-12">
					<%= image_tag('ashley-circle.png', class: 'team-pics') %>
					<span class="whatis-desc-header">Ashley Hirasuna</span>
					<p class="whatis-desc">Designer</p>
				</div>
			</div>
			<div class="dv-whatis-desc col-xs-3"
				data-anchor-target="#dv-block2"
				data-bottom-top="opacity: 0; left: 0px;"
				data-center-top="opacity: 1; left: 20px;">
				<div class="col-xs-12">
					<%= image_tag('apollo-circle.png', class: 'team-pics') %>
					<span class="whatis-desc-header">Apollo Jain</span>
					<p class="whatis-desc">Outreach Coordinator</p>
				</div>
			</div>
			<div class="dv-whatis-desc col-xs-3"
				data-anchor-target="#dv-block2"
				data-bottom-top="opacity: 0; right: 0px;"
				data-center-top="opacity: 1; right: 20px;">
				<div class="col-xs-12">
					<%= image_tag('vishnu-circle.png', class: 'team-pics') %>
					<span class="whatis-desc-header">Vishnu Murthy</span>
					<p class="whatis-desc">Outreach Coordinator</p>
				</div>
			</div>
			<div class="dv-whatis-desc col-xs-3"
				data-anchor-target="#dv-block2"
				data-bottom-top="opacity: 0; right: 0px;"
				data-center-top="opacity: 1; right: 20px;">
				<div class="col-xs-12">
					<%= image_tag('derrick-circle.png', class: 'team-pics') %>
					<span class="whatis-desc-header">Derrick Mar</span>
					<p class="whatis-desc">Web Developer</p>
				</div>
			</div>
		</div>
	</div>
<!-- data-bottom-top="top: -50px;"
			data-top="top: -108px;" -->
	<div class="facts-parent">
		<div class="main-cause-blocks" id="dv-block3"> </div>
		<div class="main-cause-blocks" id="dv-block4">
			<h1 class="main-cause-headers-of-blocks-large header-facts"
				data-bottom-top="opacity: 0;"
				data-center-top="opacity: 1;"
			>Our Story</h1>
			<div class="facts-holder">
				<div class="facts-row row">
					<div class="col-xs-offset-1 col-xs-10 vcenter"
		  			 	data-bottom-top="opacity: 0; transform: scale(0.5);"
							data-center-top="opacity: 1; transform: scale(1);">
						<div>
							<span class='big-date'>June 2, 2014:</span>
							Eluci is born!!
						</div>
					</div>
				</div>
				<div class="facts-row row">
					<div class="col-xs-offset-1 col-xs-10 vcenter"
		  			 	data-bottom-top="opacity: 0; transform: scale(0.5);"
							data-center-top="opacity: 1; transform: scale(1);">
						<div>
							<span class='big-date'>July 15, 2014:</span>
							Eluci wins <span class="facts-highlight"> $1500 </span> grant from GM to pursue project
						</div>
					</div>
				</div>
				<div class="facts-row row">
					<div class="col-xs-offset-1 col-xs-10 vcenter"
		  			 	data-bottom-top="opacity: 0; transform: scale(0.5);"
							data-center-top="opacity: 1; transform: scale(1);">
						<div>
							<span class='big-date'>August 22, 2014:</span>
							<span class="facts-highlight"> Ashley </span> creates our first designs!
						</div>
					</div>
				</div>
				<div class="facts-row row">
					<div class="col-xs-offset-1 col-xs-10 vcenter"
		  			 	data-bottom-top="opacity: 0; transform: scale(0.5);"
							data-center-top="opacity: 1; transform: scale(1);">
						<div>
							<span class='big-date'>October 24, 2014:</span>
							Eluci in talks with <span class="facts-highlight"> <%= link_to('Social Good Fund', 'http://www.socialgoodfund.org', target: "_blank") %> </span> to receive 501c(3) status through fiscal sponsorship.
						</div>
					</div>
				</div>
				<div class="facts-row row">
					<div class="col-xs-offset-1 col-xs-10 vcenter"
		  			 	data-bottom-top="opacity: 0; transform: scale(0.5);"
							data-center-top="opacity: 1; transform: scale(1);">
						<div class='today-timeline'>
							<span class='big-date'>TODAY!! -> </span>
							We need your help to create more designs that will be worn by thousands of supports across the nation! <span class="facts-highlight join-scroll"> Join our team now </span>
						</div>
					</div>
				</div>
				<div class="facts-row row">
					<div class="col-xs-offset-1 col-xs-10 vcenter"
		  			 	data-bottom-top="opacity: 0; transform: scale(0.5);"
							data-center-top="opacity: 1; transform: scale(1);">
						<div>
							<span class='big-date'>November 30, 2014:</span>
							Planned launch date via Kickstarter and UC Berkeley event!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main-cause-blocks" id="dv-block2">
		<h1 class="main-cause-headers-of-blocks-small"
			data-anchor-target="#dv-block2"
			data-bottom-top="opacity: 0.25; top: 0px"
			data-center-top="opacity: 1; top: 15px;">Interested in launch?</h1>
		<div class="row whatis-desc-holder">
			<div class="dv-whatis-desc col-xs-offset-3 col-xs-6"
				data-anchor-target="#dv-block2"
				data-bottom-top="opacity: 0; left: 0px;"
				data-center-top="opacity: 1; left: 20px;">
				<div class="col-xs-12">
					<!-- <span class="whatis-desc-header">Domestic Violence</span> -->
					<!-- We won't spam you :). We'll only send you one email when we launch! -->
					<%= form_for @email, url: { action: 'create', controller: "emails" } do |f| %>
						<% if flash[:success] %>
					  	 <div class="alert alert-success">
					  	 	<%= flash[:success] %>
						   </div>
					  <% end %>

						<% if flash[:error] %>
						  <div class="alert alert-error">
					  	 	<% flash[:error].each do |msg| %>
					      	• <%= msg %>
					    	<% end %>
						  </div>
						<% end %>
						<div class='input-group'>
							<%= f.text_field :name, placeholder: 'Enter your email', class: 'form-control' %>
							<div class="input-group-btn">
								<%= f.submit "Go!",  class: 'btn btn-default email-btn' %>
			  			</div>
			  		</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>